<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
	http://wowprogramming.com/FrameXML/UI.xsd">
	
	<Frame name="BrewSpeakConfigFrame" toplevel="true" parent="UIParent" frameStrata="DIALOG" hidden="true" enableMouse="true">
		<Size>
			<AbsDimension x="385" y="409" />
		</Size>
		<Anchors>
			<Anchor point="TOPLEFT" />
			<Anchor point="BOTTOMRIGHT" />
		</Anchors>
		<Layers>
			<Layer>
			
				<!-- TITLE -->
				<FontString name="$parentTitle" text="BrewSpeak Options" inherits="GameFontNormalLarge" justifyH="LEFT" justifyV="TOP">
					<Anchors>
						<Anchor point="TOPLEFT">
							<Offset>
								<AbsDimension x="16" y="-16"/>
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				
				<!-- SUB TEXT -->
				<FontString name="$parentSubText" text="Select which types of chat you'd like to enable slurred speech in." 
				inherits="GameFontHighlightSmall" nonspacewrap="true" maxLines="3" justifyH="LEFT" justifyV="TOP">
					<Size>
						<AbsDimension x="370" y="0" />
					</Size>
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentTitle" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-8"/>
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<CheckButton name="$parentBattleground" inherits="InterfaceOptionsCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentSubText" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-8" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentGuild" inherits="InterfaceOptionsCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentBattleground" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-8" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentOfficer" inherits="InterfaceOptionsCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentGuild" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-8" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentParty" inherits="InterfaceOptionsCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentOfficer" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-8" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentRaid" inherits="InterfaceOptionsCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentParty" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-8" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentSay" inherits="InterfaceOptionsCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentRaid" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-8" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentWhisper" inherits="InterfaceOptionsCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentSay" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-8" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentYell" inherits="InterfaceOptionsCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentWhisper" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-8" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
		</Frames>
	</Frame>
</Ui>